footer {
  margin-top: 100px;
  background-color: #13976e;
}

footer .footer_info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

footer .footer_info img {
  width: 270px;
}

footer .footer_info2 .footer-items {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-bottom: 30px;
}

footer .footer_info2 .footer-items {
  display: flex;
  flex-wrap: wrap;
}
footer .footer_info2 ul {
  text-align: center;
}
footer .footer_info2 ul li {
  list-style: none;
  padding: 25px 80px;
}

footer .footer_info2 ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

footer p {
  font-size: 18px;
  text-align: center;
  padding-bottom: 10px;
  font-weight: 600;
  color: #fff;
}

footer p span {
  color: yellow;
}
@media (max-width: 500px) {
  footer .footer_info .footer_info1 img {
    width: 180px;
    padding-top: 30px;
  }
  footer .footer_info2 ul li {
    padding: 25px 10px;
  }

  footer p {
    font-size: 12px;
  }
}
