.departments__detail4  .home__carousel .custom-carousel .slick-slide img {
    height: 70vh;
    object-fit: cover;
    width: 100%;
    margin-top: 50px;
  }
  .departments__detail4  .home__carousel .custom-carousel .slick-track {
    display: flex;
    align-items: center;
  }
  .departments__detail4  .home__carousel .custom-carousel .slick-dots {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .departments__detail4  .home__carousel .custom-carousel .slick-dots li {
    margin: 0 4px;
  }
  .departments__detail4  .home__carousel .custom-carousel .slick-dots li button {
    width: 10px;
    height: 10px;
    background-color: rgb(136, 136, 136);
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .departments__detail4  .detail4__bottom {
    padding: 40px 0px;
  }
  .departments__detail4  .detail4__bottom {
    padding: 40px 0px;
  }
  .departments__detail4  .detail4__bottom h1 {
    font-weight: 500;
  }
  .departments__detail4  .detail4__bottom p {
    padding-top: 15px;
    line-height: 30px;
  }
  @media (max-width: 700px) {
    .departments__detail4  .home__carousel .custom-carousel .slick-slide img {
      height: 40vh;
    }
    .departments__detail4  .detail4__bottom h1 {
      font-size: 20px;
    }
    .departments__detail4  .detail4__bottom p {
      font-size: 13px;
    }
  }
  